/sdd_openspec/weather-report/.codex
/sdd_openspec/weather-report/.cursor
/sdd_openspec/weather-report/openspec/changes/user-city-weather-report/.venv
sdd_openspec/weather-report/openspec/changes/user-city-weather-report/docgen_requirements.txt
sdd_openspec/weather-report/openspec/changes/user-city-weather-report/opsx_docgen.py
sdd_openspec/weather-report/openspec/changes/user-city-weather-report/opsx_docgen.sh
sdd_openspec/weather-report/openspec/changes/user-city-weather-report/user-city-weather-report-consolidated.md
sdd_openspec/weather-report/openspec/changes/user-city-weather-report/user-city-weather-report.docx
sdd_openspec/weather-report/openspec/changes/user-city-weather-report/user-city-weather-report.pptx
sdd_openspec/weather-report/ref.docx
sdd_openspec/weather-report/ref.pptx
sdd_openspec/weather-report/reference.docx
sdd_openspec/weather-report/reference.pptx
/chess/.opencode
/chess/chess-website/backend/venv
/world_museums/.opencode
*.pyc
/siguo/bin
/siguo/bin
